<h1>{{title}}</h1>
<div>
  <input type="text" ng-model="searchText" />
</div>
<select ng-model="artistSelector" ng-options="item.artist for item in songs | unique:'artist'">
  <option>--</option>
</select>
<select ng-model="albumSelector" ng-options="item.album for item in songs | unique:'album' | filter: {artist: artistSelector.artist}">
  <option>--</option>
</select>
<div class="panel panel-default song-list" ng-repeat="item in songs | filter:searchText | filter:artistSelector.artist | filter:{album: albumSelector.album}">
  <div class="panel-body">
    <a href="#/songs/{{item.id}}">{{item.name}}</a> 
    <button ng-click="killSong(item)" class="close" aria-hidden"close"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
      <p>Performed by <b>{{item.artist}}</b>
        on the album <b>{{item.album}}</b>.
      </p>
      
  </div>
</div>
<div>
  <input type="text" placeholder="Song" ng-model="newSongName">
  <input type="text" placeholder="Artist" ng-model="newSongArtist">
  <input type="text" placeholder="Album" ng-model="newSongAlbum">
  <button ng-click="addSong()">Create</button>
</div>
