<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>angular101</title>
  <link rel="stylesheet" href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="SongApp">
  <section ng-controller="SongCtrl">
    <h1>{{title}}</h1>
    <div>
      <input type="text" ng-model="searchText" />
    </div>
    <select ng-model="songs.repeatSelect">
      <option ng-repeat="song in songs">{{song.artist}}</option>
    </select>
    <select ng-model="songs.repeatSelect">
      <option ng-repeat="song in songs">{{song.album}}</option>
    </select>
    <div class="song-list" ng-repeat="song in songs | filter:searchText">
      <h2>{{song.name}}</h2> 
      Performed by <b>{{song.artist}}</b>
      on the album <b>{{song.album}}</b>.<button ng-click="killSong(song)">Remove</button>
    </div>
    <div>
      <input type="text" placeholder="Song" ng-model="newSongName">
      <input type="text" placeholder="Artist" ng-model="newSongArtist">
      <input type="text" placeholder="Album" ng-model="newSongAlbum">
      <button ng-click="addSong()">Create</button>
    </div>
  </section>
  <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/Song.js"></script>
</body>
</html>